wheel==0.47.0
numpy==2.5.0

# may need to `brew install libtiff` on Mac
pylibtiff==0.7.0

matplotlib==3.11.0
numexpr==2.14.1
nd2==0.11.3
onnx==1.22.0
onnxruntime==1.27.0
openpyxl==3.1.5
pandas==3.0.3
PyQt5==5.15.11
scikit-image==0.26.0
scikit-learn==1.9.0
scipy==1.18.0
shap==0.52.0
shapely==2.1.2
skl2onnx==1.20.0
tqdm==4.68.3
XlsxWriter==3.2.9
